* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 


.container {
    display: flex;
    text-align: justify;
    padding: 16px 20px;
} 

.english {
    width: 50%;
    max-width: 100%;
    padding: 20px
} 

.vietnamese {
    width: 50%;
    max-width: 50%;
    padding: 20px;
} 

